@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
} 

.container{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background: url(./Images/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15px;

}

.intro {
  width: 50%;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.253);
  text-align: end;
  padding: 10px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pic {
  width: 18%;
  height: 40vh;
  background: url(./Images/pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 200px;
}