@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}  

.likes {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  margin-left: 60px;
  margin-right: 60px;
  background-color:#7892c2;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: bold;
}